<div id="portfolio" class="portfolio clearfix my-4">
  {{#each profiles as |profile|}}
    <article class="item {{profile.selector}}">
      <div class="background bg-light">

        <div class="image">
          {{#link-to "perfil" profile.id}}
            <img
              src={{profile.fotoUrl}}
              alt={{profile.cargoNombreCompleto}}>
          {{/link-to}}
        </div>

        <div class="text">
          <h6>{{profile.nombre}}</h6>
          <h6 class="font-weight-light">{{profile.cargo}}</h6>
        </div>

      </div>
    </article>
  {{/each}}
</div>
