{{!-- Si hay funcionalidades muestra la 'navbar' con todas las funcionalidades --}}
{{#if model.config.profileFunctions}}
  {{!-- Redes sociales en (xs, sm) --}}
  <div class="d-block d-md-none text-right">
    {{#twitter-share-button
      title=config.twitterShareLink
      hashtags="MiGuatemala"
      via="Redxguate"
    }}
      Tweet
    {{/twitter-share-button}}
    {{#fb-share-button
      quote=config.twitterShareLink
      hashtags="MiGuatemala"
    }}
      Share
    {{/fb-share-button}}
  </div>
  {{!-- 'Navbar' para perfiles --}}
  <div class="row my-2">
    <div class="col-12 p-0 nav-candidator border">
      <nav>
        <ul class="list-inline m-0 d-sm-flex">
          {{!-- Genera los links de las funcionalidades --}}
          {{#each model.config.profileFunctions as |link|}}
            {{#if link.link}}
              <a href={{link.link}} title={{link.title}}>
                {{#if link.iconClass}}
                  <i class={{link.iconClass}}></i>
                {{/if}}
                {{link.name}}
              </a>
            {{else}}
              {{#link-to-wrapper link.route title=link.title}}
                {{#if link.iconClass}}
                  <i class={{link.iconClass}}></i>
                {{/if}}
                {{link.name}}
              {{/link-to-wrapper}}
            {{/if}}
          {{/each}}
          {{!-- Redes sociales en (viewport > sm) --}}
          <li class="px-3 ml-auto d-none d-md-block">
            {{#twitter-share-button
              title=config.twitterShareLink
              hashtags="MiGuatemala"
              via="Redxguate"
            }}
              Tweet
            {{/twitter-share-button}}
            {{#fb-share-button
              quote=config.twitterShareLink
              hashtags="MiGuatemala"
            }}
              Share
            {{/fb-share-button}}
          </li>
        </ul>
      </nav>
    </div>
  </div>
{{/if}}