<section id="election">
  {{#if factCheckingFuncionalidad}}
    <div id="msj-alerta" class="alert alert-info">
      {{html-safe factCheckingFuncionalidad.title}}
    </div>
  {{/if}}

  <div id="compare-candidates">

    <div>
      {{#if factCheckingGroupedItemsList.firstObject}}
        {{#each-in factCheckingGroupedItemsList as |section itemsList|}}
          <div class="panel panel-default">
            <div class="header"><h3 class="panel-title">{{section}}</h3></div>
            <div class="body">
              {{#each-in itemsList as |index item|}}
                <h3 class="panel-title">{{html-safe item.title}}</h3>

                <div class="response-candidate-one">
                  <p>
                    {{html-safe item.quote}}
                  </p>
                  <p class="text-right"><small>{{perfil.nombre}}</small></p>
                </div>
                <div class="response-candidate-dos">
                  <p>
                    {{html-safe item.fact}}
                  </p>
                  <p class="text-right"><small>{{item.source}}</small></p>
                </div>
              {{/each-in}}
            </div>
          </div>
        {{/each-in}}
      {{else}}
        <div class="panel">
          <div class="body">
            <h6>No hay investigaciones.</h6>
          </div>
        </div>
      {{/if}}
    </div>

  </div>
</section>
