<section id="election">
  {{#if frenteAFrenteFuncionalidad}}
    <div id="msj-alerta" class="alert alert-info my-2">
      {{html-safe frenteAFrenteFuncionalidad.title}}
    </div>
  {{/if}}

  <div id="compare-candidates">
    <div class="row">
      <div class="col-md-6 my-2">
        {{one-way-select perfilUnoId
            options=model.profiles
            optionValuePath="id"
            optionLabelPath="nombre"
            update=(action (mut perfilUno))
        }}
      </div>
      <div class="col-md-6">
        {{one-way-select perfilDosId
            options=model.profiles
            optionValuePath="id"
            optionLabelPath="nombre"
             update=(action (mut perfilDos))
        }}
      </div>
    </div>

    {{!-- Only Desktop --}}
    <div class="d-none d-md-block">
      {{#each-in frenteAFrenteSectionGroupedFields as |section fields|}}
        <div class="panel">
          <div class="header d-flex"><img src="app/img/icon-{{dasherize section}}.png" alt="" class="image60x60"><h6 class="panel-title my-auto mx-3">{{section}}</h6></div>
          <div class="body">
            {{#each-in fields as |fieldName field|}}
              {{#if field.label}}
                <div class="row">
                  <div class="col-md-12">
                    <h5>{{field.label}}</h5>
                  </div>
                </div>
              {{/if}}

              <div class="row">
                <div class="col-md-1">
                  <img
                    src={{perfilUno.fotoPerfil}}
                    alt={{perfilUno.nombre}}
                    border="0"
                    class="img-fluid"
                  >
                </div>
                <div class="col-md-5">
                  <div class="bg-light p-2 rounded">
                    <p>
                      {{get-html-safe perfilUno field.field}}
                    </p>
                    <p class="text-right">{{perfilUno.nombre}}</p>
                  </div>
                </div>
                <div class="col-md-1">
                  <img
                    src={{perfilDos.fotoPerfil}}
                    alt={{perfilDos.nombre}}
                    border="0"
                    class="img-fluid"
                  >
                </div>
                <div class="col-md-5">
                  <div class="bg-light p-2 rounded">
                    <p>
                      {{get-html-safe perfilDos field.field}}
                    </p>
                    <p class="text-right">{{perfilDos.nombre}}</p>
                  </div>
                </div>
              </div>
            {{/each-in}}
          </div>
        </div>
      {{/each-in}}
    </div>

    {{!-- Solo para pantallas (xs, sm) --}}
    <div class="d-block d-md-none">
      {{#each-in frenteAFrenteSectionGroupedFields as |section fields|}}
        <div class="panel">
          <div class="header"><h6 class="panel-title">{{section}}</h6></div>
          <div class="body">
            {{#each-in fields as |fieldName field|}}
              {{#if field.label}}
                <h3 class="panel-title">{{field.label}}</h3>
              {{/if}}

              <div class="response-candidate-one bg-light p-2 rounded my-1">
                <p>
                  {{get-html-safe perfilUno field.field}}
                </p>
                <p class="text-right text-dark"><small>{{perfilUno.nombre}}</small></p>
              </div>
              <div class="response-candidate-dos bg-light p-2 rounded">
                <p>
                  {{get-html-safe perfilDos field.field}}
                </p>
                <p class="text-right text-gray-dark"><small>{{perfilDos.nombre}}</small></p>
              </div>
            {{/each-in}}
          </div>
        </div>
      {{/each-in}}
    </div>

  </div>
</section>
